In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("E:\\ML\\marital status.csv")

In [3]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     NaN
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [4]:
df.isnull().sum()

age       0
status    1
dtype: int64

In [5]:
handle = df['status'].median()
handle

0.0

In [8]:
df.status = df.status.fillna(handle)
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     0.0
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [9]:
df['status'].value_counts()

0.0    11
1.0     9
Name: status, dtype: int64

In [10]:
x = df[['age']]
x

    age
0    21
1    33
2    24
3    28
4    17
5    33
6    23
7    30
8    29
9    22
10   26
11   20
12   22
13   24
14   34
15   29
16   16
17   18
18   26
19   25

In [11]:
y = df['status']
y

0     0.0
1     1.0
2     0.0
3     1.0
4     0.0
5     1.0
6     0.0
7     0.0
8     1.0
9     0.0
10    1.0
11    0.0
12    0.0
13    0.0
14    1.0
15    1.0
16    0.0
17    0.0
18    1.0
19    1.0
Name: status, dtype: float64

In [12]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size= 0.3,random_state = 1)
xtest

    age
3    28
16   16
6    23
10   26
2    24
14   34

In [13]:
ytest

3     1.0
16    0.0
6     0.0
10    1.0
2     0.0
14    1.0
Name: status, dtype: float64

In [14]:
from sklearn.linear_model import LogisticRegression

model =  LogisticRegression()
model.fit(xtrain,ytrain)

LogisticRegression()

In [15]:
model.predict(xtest)

array([1., 0., 0., 0., 0., 1.])

In [16]:
#Output for Logistic Regression
model.score(xtest,ytest)

0.8333333333333334

In [17]:
#Output for Sigmoid
model.predict_proba(xtest)

array([[0.28697051, 0.71302949],
       [0.9902967 , 0.0097033 ],
       [0.80161052, 0.19838948],
       [0.50311753, 0.49688247],
       [0.71810555, 0.28189445],
       [0.02465085, 0.97534915]])

Predicting by taking new input

In [18]:
value = input("Enter Age:")

new_input = [[value]]
new_output = model.predict(new_input)
print(new_input, new_output)
if(new_output==1):
    print("This Guy is Married")
else:
    print("This Guy is Married")

Enter Age: 28

[['28']] [1.]
This Guy is Married

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)